---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <section>
    <p>
      I am an aspiring front-end developer with a big passion in designing and
      developing modern user interfaces. I admire simplicity and believe in
      building products and tools that meet user's needs. I have a good eye and
      very high attention to details. I love building quality products and often
      try to hone my deliverables until I feel like it can't be realistically
      improved anymore. Aesthetic and fluid designs are always what I strive to
      achieve, always putting UX at the forefront.
    </p>
    <p>
      I am very experienced with React and Next.js, putting them as the primary
      tools I reach out for. I like to think of front-end as picking the best
      tools for the job and assembling them together in harmony, similar to
      solving a big big puzzle. Over the years, I have accumulated a lot of
      knowledge in my domain, but I still keep finding new things to learn and
      master. I also try to keep my knowledge of fundamentals like CSS and
      vanilla JavaScript up to date with latest standards and best practices.
      The learning process gives me joy.
    </p>
    <p>
      I keep track of latest tech updates and stay relatively active in the
      community by following and engaging with the industry leaders on X and
      YouTube. I am always keen to try out new tools and analyze their
      innovative approaches to solving problems.
    </p>
    <p>
      My interest in programming stems from my early school days, when I was
      solving a lot of competitive programming problems. You can read more about
      that <a href="/competitive-programming">here</a>.
    </p>
  </section>
</MainLayout>
