---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <section>
    <h2>About Me</h2>
    <p>
      I am an aspiring front-end developer with a big passion in designing and
      developing modern user interfaces. I admire simplicity and believe in
      building products and tools that meet user's needs. I have a good eye and
      very high attention to details. I love building quality products and often
      try to hone my deliverables until I feel like it can't be realistically
      improved anymore. Aesthetic and fluid designs are always what I strive to
      achieve, always putting UX at the forefront.
    </p>
    <p>
      I am very experienced with React and Next.js, putting them as the primary
      tools I reach out for. I like to think of front-end as picking the best
      tools for the job and assembling them together in harmony, similar to
      solving a big big puzzle. Over the years, I have accumulated a lot of
      knowledge in my domain, but I still keep finding new things to learn and
      master. I also try to keep my knowledge of fundamentals like CSS and
      vanilla JavaScript up to date with latest standards and best practices.
      The learning process gives me joy.
    </p>
    <p>
      I keep track of latest tech updates and stay relatively active in the
      community by following and engaging with the industry leaders on X and
      YouTube. I am always keen to try out new tools and analyze their
      innovative approaches to solving problems.
    </p>
    <p>
      My interest in programming stems from my early school days, when I was
      solving a lot of competitive programming problems. You can read more about
      that <a href="/competitive-programming">here</a>.
    </p>
  </section>
  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://maze-escape-game.vercel.app/">Ghost Escape</a>: A fun
        Next.js game built with react-three-fiber
      </li>
      <li>
        <a href="https://checklists.bthero.tech">Checklists</a>: A simple To-Do
        app with extra convenient features, built using Next.js v14 with app
        router and DrizzleORM
      </li>
      <li>
        <a href="https://marketplace.bthero.tech">Marketplace</a>: A quick
        marketplace that I built to give away my extra stuff to friends when
        moving out
      </li>
      <li>
        <a href="https://bthero.github.io/songkran/">Songkran</a>: A university
        group project built using Solid.js and p5.js
      </li>
      <li>
        <a href="https://bthero.github.io/virus/">Virus</a>: An interactive
        cover of Haken's Virus album
      </li>
      <li>
        <a href="https://bthero.github.io/forest-house-3d/">Forest House</a>: An
        interactive 3D Scene built with React + Vite + react-three-fiber
      </li>
    </ul>
  </section>
  <section>
    <h2>Work Experience</h2>
    <ul>
      <li>
        Remote, Jul 2023 - Aug 2024. Front-end Lead Developer (Next.js) at
        Harbour.Space, AcademiX team.
        <ul>
          <li>
            Delivered, maintained and improved products for students, teachers
            and academic staff
          </li>
          <li>Participated in planning meetings and distributed workload</li>
          <li>
            Ensured quality control and designed system architecture with
            backend developers
          </li>
          <li>
            Automated university document generation and student feedback
            collection.
          </li>
        </ul>
      </li>
      <li>
        Remote, Mar 2023 - Feb 2024. Teacher of Front-end Development at Leagues
        of Code.
        <ul>
          <li>Gave private web development classes on a weekly basis.</li>
          <li>
            Covered a wide range of topics, starting from the basics of HTML and
            ending with interactive web-based games.
          </li>
        </ul>
      </li>
      <li>
        Remote, Jun 2022 - Jun 2023. Full-Stack Intern (React, Express) at Hopp
        Mobility.
        <ul>
          <li>
            Maintained a big monorepo codebase and developed new features for
            Hopp administrators
          </li>
          <li>
            Resolved a lot of user-reported issues across both frontend and
            backend
          </li>
          <li>
            Helped improve overall code quality and migrated the Admin dashboard
            to newer versions
          </li>
        </ul>
      </li>
      <li>
        Barcelona, Spain, May 2022 - Jun 2022. Front-end Developer (Next.js) at
        Harbour.Space, AcademiX team
        <ul>
          <li>
            Set up the whole project from ground up and integrated the design
            system.
          </li>
          <li>
            Developed Attendance List and Students List — pages for tracking and
            marking attendance of students in university classes.
          </li>
        </ul>
      </li>
      <li>
        Barcelona, Spain, Dec 2021 - May 2022. Junior Front-end Developer
        (React) at Leagues of Code.
        <ul>
          <li>
            Took part in building a dashboard for teachers and students'
            parents.
          </li>
          <li>
            Collaborated with designers and developed different components for
            the design system.
          </li>
        </ul>
      </li>
      <li>
        Remote, Sep 2020 - Jul 2021. Junior Front-end Developer (React) at
        Leagues of Code.
        <ul>
          <li>
            Took part in building a dashboard for teachers and students'
            parents.
          </li>
          <li>
            Collaborated with designers and developed different components for
            the design system.
          </li>
        </ul>
      </li>
    </ul>
  </section>
</MainLayout>
