---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Projects">
  <section>
    <ul>
      <li>
        <a href="https://maze-escape-game.vercel.app/">Ghost Escape</a>: A fun
        Next.js game built with react-three-fiber
      </li>
      <li>
        <a href="https://checklists.bthero.tech">Checklists</a>: A simple To-Do
        app with extra convenient features, built using Next.js v14 with app
        router and DrizzleORM
      </li>
      <li>
        <a href="https://marketplace.bthero.tech">Marketplace</a>: A quick
        marketplace that I built to give away my extra stuff to friends when
        moving out
      </li>
      <li>
        <a href="https://bthero.github.io/songkran/">Songkran</a>: A university
        group project built using Solid.js and p5.js
      </li>
      <li>
        <a href="https://bthero.github.io/virus/">Virus</a>: An interactive
        cover of Haken's Virus album
      </li>
      <li>
        <a href="https://bthero.github.io/forest-house-3d/">Forest House</a>: An
        interactive 3D Scene built with React + Vite + react-three-fiber
      </li>
    </ul>
  </section>
</MainLayout>
