---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Work Experience">
  <section>
    <ul>
      <li>
        Remote, Jul 2023 - Aug 2024. Front-end Lead Developer (Next.js) at
        Harbour.Space, AcademiX team.
        <ul>
          <li>
            Delivered, maintained and improved products for students, teachers
            and academic staff
          </li>
          <li>Participated in planning meetings and distributed workload</li>
          <li>
            Ensured quality control and designed system architecture with
            backend developers
          </li>
          <li>
            Automated university document generation and student feedback
            collection.
          </li>
        </ul>
      </li>
      <li>
        Remote, Mar 2023 - Feb 2024. Teacher of Front-end Development at Leagues
        of Code.
        <ul>
          <li>Gave private web development classes on a weekly basis.</li>
          <li>
            Covered a wide range of topics, starting from the basics of HTML and
            ending with interactive web-based games.
          </li>
        </ul>
      </li>
      <li>
        Remote, Jun 2022 - Jun 2023. Full-Stack Intern (React, Express) at Hopp
        Mobility.
        <ul>
          <li>
            Maintained a big monorepo codebase and developed new features for
            Hopp administrators
          </li>
          <li>
            Resolved a lot of user-reported issues across both frontend and
            backend
          </li>
          <li>
            Helped improve overall code quality and migrated the Admin dashboard
            to newer versions
          </li>
        </ul>
      </li>
      <li>
        Barcelona, Spain, May 2022 - Jun 2022. Front-end Developer (Next.js) at
        Harbour.Space, AcademiX team
        <ul>
          <li>
            Set up the whole project from ground up and integrated the design
            system.
          </li>
          <li>
            Developed Attendance List and Students List — pages for tracking and
            marking attendance of students in university classes.
          </li>
        </ul>
      </li>
      <li>
        Barcelona, Spain, Dec 2021 - May 2022. Junior Front-end Developer
        (React) at Leagues of Code.
        <ul>
          <li>
            Took part in building a dashboard for teachers and students'
            parents.
          </li>
          <li>
            Collaborated with designers and developed different components for
            the design system.
          </li>
        </ul>
      </li>
      <li>
        Remote, Sep 2020 - Jul 2021. Junior Front-end Developer (React) at
        Leagues of Code.
        <ul>
          <li>
            Took part in building a dashboard for teachers and students'
            parents.
          </li>
          <li>
            Collaborated with designers and developed different components for
            the design system.
          </li>
        </ul>
      </li>
    </ul>
  </section>
</MainLayout>
