---

---

<footer>
  <h2>Contact Me</h2>
  <ul>
    <li>
      Email:
      <a href="mailto:bthero09@gmail.com">bthero09@gmail.com</a>
    </li>
    <li>
      Github:
      <a href="https://github.com/bthero">https://github.com/bthero</a>
    </li>
    <li>
      Twitter/X:
      <a href="https://x.com/bthero03">https://x.com/bthero03</a>
    </li>
  </ul>
</footer>
